@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --primary: 150 50% 30%;
    --primary-foreground: 0 0% 96%;
    --secondary: 150 30% 60%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 4%;
    --error: 0 72% 51%;
    --error-light: 0 91% 71%;
    --error-foreground: 0 0% 96%;
    --border: 0 0% 90%;
    --ring: 150 50% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .focus {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}